In [1]:
import pandas as pd

In [3]:
df = pd.read_csv(r'shedulers.csv', encoding='cp1251', sep=';')
df.head(10)

           ФИО Расписание Дата начала расписания Дата окончания расписания
0  Поставщик 1   дддвсвнн        01.01.2019 0:00           10.01.2019 0:00
1  Поставщик 1     ннвннв        11.01.2019 0:00           15.01.2019 0:00
2  Поставщик 1         св        16.01.2019 0:00           20.01.2019 0:00
3  Поставщик 2     свсвсв        01.01.2019 0:00           07.01.2019 0:00
4  Поставщик 2      днвсв        08.01.2019 0:00           14.01.2019 0:00
5  Поставщик 2    ннддвсв        15.01.2019 0:00           31.12.9999 0:00
6  Поставщик 3     нвнвнв        01.01.2019 0:00           01.02.2019 0:00
7  Поставщик 3   двдвдвдв        02.02.2019 0:00           31.12.9999 0:00

In [49]:
working_days = pd.DataFrame(columns=['Name', 'Date_begin', 'Date_end'])

In [61]:
from datetime import datetime, timedelta

def add_working_days(start, end, dataset=working_days):
  start = datetime.strptime(start, '%d.%m.%Y')
  end = datetime.strptime(end, '%d.%m.%Y')
  for index, row in df.iterrows():
      name = row[0]
      schedule = row[1]
      date_begin = datetime.strptime(row[2][:10], '%d.%m.%Y')
      date_end = datetime.strptime(row[3][:10], '%d.%m.%Y')
      
      if (date_begin > start):
        start_day = date_begin
      else:
        start_day = start

      if (date_end < end):
        end_day = date_end
      else:
        end_day = end

      if (start_day <= end_day):
      
        interval_days = (end_day - start_day).days
        first_day = (start_day - date_begin).days
        
        index_schedule  = first_day
        n = interval_days
        i = 0
            
        while (i <= n) :

          day_val = schedule[index_schedule %len(schedule)]
        
          if (day_val == "н"):

              work_start = start_day + timedelta(days=i,hours=20)
              work_end = start_day + timedelta(days=i+1,hours=8)
              new_row = {'Name': name, 'Date_begin': work_start, 'Date_end': work_end}
              dataset = dataset.append(new_row, ignore_index=True)
              i += 1

          if (day_val == "д"):

              work_start = start_day + timedelta(days=i,hours=8)
              work_end = start_day + timedelta(days=i,hours=20)
              new_row = {'Name': name, 'Date_begin': work_start, 'Date_end': work_end}
              dataset = dataset.append(new_row, ignore_index=True)

              day_val_next = schedule[(index_schedule+1) %len(schedule)]
              
              if (day_val_next != 'н'):
                  i +=1

          if (day_val == "с"):

              work_start = start_day + timedelta(days=i,hours=8)
              work_end = start_day + timedelta(days=i+1,hours=8)
              new_row = {'Name': name, 'Date_begin': work_start, 'Date_end': work_end}
              dataset = dataset.append(new_row, ignore_index=True)
              i += 1
          
          if (day_val == "в"):
              i += 1;
          index_schedule += 1
  return dataset

In [62]:
working_days = add_working_days('01.01.2019','08.01.2019')

In [64]:
working_days.head(10)

          Name          Date_begin            Date_end
0  Поставщик 1 2019-01-01 08:00:00 2019-01-01 20:00:00
1  Поставщик 1 2019-01-02 08:00:00 2019-01-02 20:00:00
2  Поставщик 1 2019-01-03 08:00:00 2019-01-03 20:00:00
3  Поставщик 1 2019-01-05 08:00:00 2019-01-06 08:00:00
4  Поставщик 1 2019-01-07 20:00:00 2019-01-08 08:00:00
5  Поставщик 1 2019-01-08 20:00:00 2019-01-09 08:00:00
6  Поставщик 2 2019-01-01 08:00:00 2019-01-02 08:00:00
7  Поставщик 2 2019-01-03 08:00:00 2019-01-04 08:00:00
8  Поставщик 2 2019-01-05 08:00:00 2019-01-06 08:00:00
9  Поставщик 2 2019-01-07 08:00:00 2019-01-08 08:00:00